/* DESKTOP home page */




/* Hero section */
.hero-section {
    background-color: var(--primarly);
    position: relative;

}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
}
.hero-section > .animateSVGsection {
    height: 100%;
    overflow: hidden;
}

.title-introduction_container {
    padding: 5vw;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.title-introduction_container .hero-title {
    margin-bottom: 5vw;
}

.home-location-job>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}


.home-location-job .home-icons {
    font-size: 3vw;
    color: var(--secondary-suplementar);
}

.hero-down__arrow-container {
    margin-top: 2vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.hero-down__arrow-container > i {
    animation: home-down--arrow 3000ms ease-in-out infinite;
}


@keyframes home-down--arrow {
    0%, 100% {
        transform: translateY(0vw);

    } 50% {
        transform: translateY(-0.1vw);
    }

}
/* Smaller device */
@media (max-width: 750px) {
    .title-introduction_container .hero-title {
        display: flex;
        flex-direction: column;
        gap: 15vw;
        margin-bottom: 10vw;
    }
    
    .home-location-job>div {
        gap: 3vw;
    }
}

/* ********** */
/* Teaser container */
.overlay-container {
    position: absolute;
    right: 0;
    width: 5vw;
    height: 130vh;
    background-color: var(--blockgreen);
}

/* Cta arrow */
.cta-scroll {
    position: fixed;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 8vw;
}
.cta-scroll > * {
   color: var(--primarly)
}
.cta-scroll > span {
   scale: 3;
   animation: arrow 2000ms ease-in-out infinite;
}

@keyframes arrow {
    0%, 100% {
        transform: translateX(0vw);

    } 50% {
        color: var(--white);
        transform: translateX(-0.1vw);
    }

}

.overlay-container-div {
    overflow: hidden;
    height: 100%;
}

/* Smaller device */
@media (max-width: 750px) {
    .overlay-container-div {
        overflow: scroll;
        height: 100%;

    }
}

/* ****************** */
/* Nav */


nav {
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 1vw;
    background-color: var(--black);


}

nav a {
    color: var(--darkgrey);
    font-size: 1vw;
    width: max-content;
    position: relative;

}

nav a[data-nav="true"] {
    z-index: 0;
}
nav a[data-nav="true"]::before {
    display: block;
    content: '';
    background: var(--blockgreen);
    width: 0%;
    height: 120%;
    position: absolute;
    z-index: -2;
    scale: 1.5;
    transform: skew(25deg);
}

nav a:hover {
    color: var(--white);
}

nav a:hover::before {
    animation: underline 350ms ease-in-out forwards;
}


@keyframes underline {
    from {
        width: 0%;

    } to {
        width: 100%;
    }
}

.navbar-index {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  
    position: relative;
}

.navbar-index > .back-arrow {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}
.navbar-index > .back-arrow > p {
    color: var(--darkgrey);
}
.navbar-index > .back-arrow:hover > p,
.navbar-index > .back-arrow > p:hover {
    color: var(--white);
    border-bottom: none !important;
}

.navbar-index > div {
    display: flex;
    gap: 5vw;   
}
.navbar-index > div:nth-child(2) {
    margin-left: 16vw;
}

.navbar-index  .contact-btn {
    padding: .2vw 1vw;
    border-radius: 100vw;
    border: none;
    align-self: center;
}

/* ********* */

/* article container */
.article-container {
    /* height: 100%; */
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 4vw;
    margin-bottom: 0;
    opacity: 0;
}

/* Smaller device */
@media (max-width: 750px) {
    .article-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
}

/* Transition to the next page */
.nav-transition {
    transition: scale 350ms linear;
    scale: 0;
}


.article-container>article, 
.article-container>.article-nav {
    scale: .9;
    opacity: .7;
    transition: transform 1000ms ease-in, scale 350ms ease, opacity 350ms linear;

}

.article-container:has(.article-nav:hover) .article-nav:hover {
    scale: 1;
    opacity: 1;
}

.article-container-animation {
    animation: opacity 200ms linear .5s;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

/* teaser article boxes */
.article-container .article-box {
    height: 100%;
    width: 30vw;
    border-radius: 10px;
    padding: .5vw 2vw 1vw 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: relative;

}

/* Smaller device */
@media (max-width: 750px) {
    .article-container .article-box {
        height: 60vw;
        width: 90%;
        border-radius: 10px;
        padding: 5vw 5vw 1vw;
        display: flex;
        flex-direction: column;
        gap: 6vw;
        position: relative;
    }
}

.circle {
    width: 12vw;
    height: 12vw;
    position: absolute;

}

.circle-1 {
    top: 0%;
    right: 0%;
    background-color: var(--darkblue);
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 100%;

}

.circle-3 {
    width: 6vw;
    height: 6vw;
    top: 0%;
    right: 0%;
    background-color: var(--darkestblue);
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 100%;

}

.circle-2 {
    bottom: 0%;
    left: 0%;
    background-color: var(--darkyellow);
    border-top-right-radius: 100%;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 10px;
}

.circle-4 {
    width: 6vw;
    height: 6vw;
    bottom: 0%;
    left: 0%;
    background-color: var(--darkestyellow);
    border-top-right-radius: 100%;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 10px;
}

.circle-5 {
    top: 0%;
    left: 0%;
    background-color: var(--darkgreen);
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0%;
}

.circle-6 {
    width: 6vw;
    height: 6vw;
    top: 0%;
    left: 0%;
    background-color: var(--darkestgreen);
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0%;
}


.article-container h4 {
    color: var(--white);
    text-align: left;
    z-index: 100;

}

.article-container a {
    padding: 2%;
    z-index: 100;
    position: relative;
}

/* .article-container a::before {
    content: '';
    background: var(--blockgreen);
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -2;
    transition: all 350ms ease-in-out;
    scale: 1;
}

.article-container a:hover::before {
    animation: fill 350ms ease-in-out forwards;
} */
.article-container a:hover {
    cursor: pointer;
    animation: backGround 350ms ease-in-out forwards;
}


@keyframes backGround {
    from {
        scale: 1;

    } to {
        scale: 1.1;
        color: var(--primarly);
    }
} 

.article-container p {
    color: var(--primarly);
    text-align: left;
    z-index: 100;
    margin: 1vw 0;
}


.article-container .article-box--1 {
    background-color: var(--blue);
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / span 1;
}

.article-container .article-box--2 {
    background-color: transparent;
    grid-column: 3 / 4;
    grid-row: 2 / span 1;
    justify-self: center;
    justify-content: center;

}


.article-container .article-box--3 {
    background-color: var(--blockgreen);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;

}


/* smaller device */
@media (max-width: 750px) {
    .article-container .article-box--1 {
        grid-column: 1 / 2;
        grid-row: 1 / span 1;
    }

    .article-container .article-box--2 {
        grid-column: 1 / 2;
        grid-row: 2 / span 1;
    }

    .article-container .article-box--3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        justify-self: center;
    }
}

/* Icon container */
.article-container>.article-icons-container {
    display: flex;
    background-color: var(--black);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article-icons-container>.article-icons {
    color: var(--primarly);
    font-size: 2.5vw;
}


/* teaser img container */
.article-container>.article-img-container {
    display: flex;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: stretch;
    align-self: center;
    justify-self: end;
    width: 30vw;
}

.article-container>.article-img-container::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: .2;
    background: black;
    width: 100%;
    bottom: 15%;
    top: -3%;
}

/* Smaller device */
@media (max-width: 750px) {

    .article-container>.article-img-container,
    .article-container>.article-icons-container {
        display: none;
    }
}

/* teaser img */
.article-img-container>img {
    opacity: .9;
    width: 100%;
    height: 100%;
    aspect-ratio: -1 / 1;
    object-fit: cover;

    position: relative;
}


/* Navigation animation */
.article-animation-clicked-grow {
    animation: grow 800ms ease-in forwards;
    animation-delay: 150ms;
}

@keyframes grow {
    100% {
        scale: 6;
    }
}

/* ******************************** */
/* Cases page */

/* Navigation */

.navbar-cases {
    background-color: transparent;
    padding: 2vw 0;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    position: relative;
    z-index: 100;
}

.navbar-cases>div:nth-child(2) {
    display: flex;
    margin: auto;
    gap: 5vw
}




#backArrow {
    display: flex;
    align-items: center;
    transition: all 250ms ease-in;
}

#backArrow>p:hover {
    color: var(--black);
}


/* Cases hero */

.cases-hero {
    width: 80vw;
    margin: auto;
    height: 15vw;
}

.cases-hero>h1 {
    font-size: 5vw;
    color: var(--black);
    position: relative;
}

/* Smaller device */
@media (max-width: 750px) {
    .cases-hero {
        height: 25vw;
        width: 90vw;
    }

    .cases-hero>h1 {
        font-size: 10vw;
    }
}

.portfolio_introduction {
    background-color: var(--primarly);

}

.case-container {
    margin: auto;
    height: 25vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 3vw;
    padding: 1vw;
    margin-bottom: 5vw;
    background-color: var(--case-bg);
    border-radius: 10px;
    position: relative;
}

/* Lenght of the box */

.grow-length {
    transition: height 500ms linear;
    height: 55vw
}

.reduce-length {
    transition: height 500ms linear;
    height: 25vw;
}


/* Smaller device */
@media (max-width: 750px) {
    .case-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 75vw;
        width: 90vw;
        padding: .5vw;
    }


    .grow-length {
        height: 200vw
    }

    .reduce-length {
        height: 75vw;
    }

}

/* Animation */
/* Wave */
.svgcontainer {
    height: 100%;

    position: absolute;
    top: 0%;
    z-index: var(--svgContainerZ);
}

#waveSVG {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    /* z-index: 90; */
}

.wave {
    fill: var(--wave-bg);
    transition: d 1.5s;

}

.wave2 {
    fill: var(--black);
    filter: blur(.1vw);
}

/* back arrow */
.arrow {
    fill: var(--primarly);
    transition: d 1.5s;

}

.arrow2 {
    fill: var(--black);

    transition: d 2s;

    filter: blur(.1vw);
}

.cases-container-close--mobile {
    display: none;
}

.arrow-paragraph {
    display: block;
    position: absolute;
    right: 1%;
    bottom: 11%;
    color: var(--darkgrey)
}

/* Smaller device */
@media (max-width: 750px) {
    .cases-container-close--mobile {
        display: block;
        position: absolute;
        bottom: 5%;
        right: 1%;
        z-index: 4;
        background-color: var(--blockgreen);
        border-radius: 5px;
        padding: 2vw;
        box-shadow: rgba(0, 0, 0, 0.225) 0px 1px 5px;
        /* animation: btn 3500ms ease-in-out infinite; */
    }

    .cases-container-close--mobile>p {
        color: var(--primarly);
    }

    .arrow {
        display: none;
    }

    .arrow2 {
        display: none;
    }

    .arrow-paragraph {
        display: none;
    }

}

/* Case intorduction container */
.case-container-introduction {
    justify-self: start;
    justify-self: center;
    max-width: fit-content;
    display: flex;
    width: max-content;

    flex-direction: column;
    gap: 2vw;
    /* z-index: 100; */
}


.case-container-introduction>h4 {
    font-size: 3vw;
    font-weight: 400;
    position: relative;
}

/* Smaller device */
@media (max-width: 750px) {
    .case-container-introduction {
        display: flex;
        flex-direction: column;
    }

    .case-container-introduction>h4 {
        font-size: 7vw;
    }
}

.case-container-introduction>div li {
    display: flex;
    gap: 1vw;
    text-align: center;
    align-items: baseline;
}

.case-container-introduction>div li:first-child {
    margin-bottom: .5vw;
}


/* Case Img container */
.case-container-img {
    position: relative;
    width: 35vw;
    height: 18vw;
    align-self: center;
}


.case-container-img>img {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.225) 0px 1px 5px;

}

.case-container-img>.case-img-mobile {
    width: 20%;
    height: 80%;
    transform: rotate(5deg);
    bottom: -5%;
    right: 0;
}

.case-container-img>.case-img-desktop-2 {
    width: 70%;
    height: 70%;
    transform: rotate(0deg);
    bottom: -25%;
    right: -5%;
}

/* Smaller device */
@media (max-width: 750px) {
    .case-container-img {
        width: 65vw;
        height: 35vw;
        justify-self: center;

    }

    .case-container-img>.case-img-desktop-2 {
        bottom: -5%;
    }
}

.case-container-introduction>.portfolio_introduction-list {
    display: block;
    position: relative;
    z-index: 111;
}

/* Smaller device */
@media (max-width: 750px) {
    .case-container-introduction>.portfolio_introduction-list {
        display: none;
    }
}


.case-container-introduction>.portfolio_introduction-btn {
    background-color: var(--blockgreen);
    box-shadow: var(--lightblue) 0px 1px 2px;
    width: 10vw;
    padding: .5vw;
    margin: left;
    position: relative;
    z-index: 111;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.225);

}

/* Smaller device */
@media (max-width: 750px) {
    .case-container-introduction>.portfolio_introduction-btn {
        width: fit-content;
        padding: 1vw 3vw;
        margin: auto;
    }
}

.case-container-introduction>.portfolio_introduction-btn>p {
    color: var(--white);
}

.case-container-introduction>.portfolio_introduction-btn:hover {
    transition: all 250ms ease;
    background-color: var(--darkgreen);
}



/* ******* */
/* Cases container */
.cases-container {
    grid-column: 1 / span 2;
    background-color: transparent;
    width: 100%;
    align-self: start;
    justify-self: center;
    padding: 0 2vw 2vw;

    border-radius: 10px;
}


.cases-container>.cases-link-container {
    padding: 0vw 0vw 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    width: 90vw;
    position: relative;
    z-index: 2;


}

.cases-container>.cases-link-container>a {
    color: var(--white);
    list-style: none;
    max-width: max-content;
    padding: .5vw;
    background-color: var(--yellow);
    border-radius: .5vw;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.225);
    transition: all 350ms ease-in-out;
}

.cases-container>.cases-link-container>a:hover {
    background-color: var(--darkyellow);

}

.cases_tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    gap: 3vw;
    position: relative;
    z-index: 2;
}

/* Smaller device */
@media (max-width: 750px) {
    .cases-container {
        padding: 0vw;
    }

    .cases-container>.cases-link-container {
        gap: 4vw;
        margin: 5vw 0;
    }

    .cases-container>.cases-link-container>a {
        font-size: 3vw;
        padding: 1vw 1.5vw;

    }

    .cases_tab-container {
        margin-bottom: 5vw;
        gap: 4vw;

    }
}

.cases {
    height: max-content;
    display: grid;
    grid-template-areas: "content image";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2vw;
    position: relative;
    z-index: 0;

}

.cases_image-container {
    grid-area: image;
    z-index: 100;
    place-self: center;
    align-self: start;
}

.cases_content {
    grid-area: content;
    place-self: center;
    align-self: start;
    margin: 0 3vw;
}

.cases_image-container {
    z-index: 0;
}

.cases_image-container img {
    width: 30vw;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
    height: auto;
    border-radius: 5px;
}

/* Smaller device */
@media (max-width: 750px) {
    .cases {
        display: grid;
        grid-template-areas:
            "content"
            "image"
        ;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .cases_image-container {
        grid-area: image;
        margin-top: 4vw;
    }

    .cases_content {
        margin: 0 3vw;
    }

    .cases_image-container img {
        width: 80vw;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
        height: auto;
        border-radius: 5px;
    }
}


.cases_content p {
    margin-bottom: 2vw;
}

.cases_btn {
    padding: .5vw .5vw;
    font-size: 1.2vw;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.225);
    background-color: var(--case-bg);
    border: none;
    border-radius: .5vw;
    color: var(--white);
    transition: all 250ms ease-in-out;
}

.cases_btn:hover {
    background-color: var(--wave-bg);
    cursor: pointer;
}

/* Smaller device */
@media (max-width: 750px) {
    .cases_btn {
        padding: 1vw 1vw;
        font-size: 2vw;
    }
}

.cases_btn--active {
    transition: all 400ms ease-in-out;
    transform: translateY(-20%);
    color: var(--white);
    background-color: var(--wave-bg);
}




/* Up container cases */

.up-container-cases {
    background-color: var(--primarly);
    padding-bottom: 4vw;
}

/* ************************** */
/* About page */


/* Nav */
.navbar-about {
    position: relative;
    z-index: 107;
    background-color: transparent;
}

.main-about {
    position: relative;
    z-index: 105;
    height: max-content;
   
}

.main-about .about-introduction {
    padding-top: 10vw;
    height: 45vw;
    width: 80vw;
}

/* Smaller devices */

@media (max-width: 750px) {
    .main-about .about-introduction {
        height: 80vw;
        width: 80%;
    }
}

.about-introduction>h1 {
    font-size: 9vw;
}

.about-article {
    position: relative;
    padding-top: 8vw;
    transition: transform 1s, opacity 1s;
    
}



.about-story-title {
    padding: 3vw;
    position: relative;
    background-color: var(--lightgreen);
    height: 20vw;
    display: flex;
}


.about-article {
    width: 100%;
}

.about-article .about-story-title>div>* {
    color: var(--white);
    position: relative;
    z-index: 2;
}

/* SVG waves -ABout */
.about-article .first-break-svg {
    position: absolute;
    top: -4%;
    fill: var(--lightgreen);
    transform: rotate(180deg);
    z-index: 2;

}

#aboutBreakSVG1Shadow {
    position: absolute;
    top: -7%;
    fill: var(--darkgrey);
    opacity: .5;
    z-index: 0;

}

#aboutBreakSVG2 {
    position: absolute;
    top: 23%;
    z-index: 2;
    fill: var(--lightgreen)
}


#aboutBreakShadowSVG2 {
    position: absolute;
    top: 24%;
    z-index: 1;

}

.svg-shadow {
    position: absolute;
    fill: var(--darkgrey);
    opacity: .5;
    filter: blur(.5vw);
}

.svg-3 {
    transform: rotate(180deg);
}

#aboutBreakSVG3 {
    position: absolute;
    top: -8%;
    fill: var(--lightgreen);

}

#aboutBreakShadowSVG3 {
    position: absolute;
    top: -13%;
}

/* Smaller devices */
@media (max-width: 750px) {
    .about-article .first-break-svg {
        top: -2%;
    
    }
    
    #aboutBreakSVG1Shadow {
        top: -3.5%;
    }
 
    #aboutBreakSVG2 {
        top: 13%;
    }
    
    #aboutBreakShadowSVG2 {
        top: 13.5%;
    }
 
    #aboutBreakSVG3 {
        top: -2%;
    }
    
    #aboutBreakShadowSVG3 {
        top: -4%;
    }
}

/* About nature section */
.about-article--nature {
    background-color: var(--primarly);
    padding: 20vw 0 10vw;
}

/* Smaller devices */
@media (max-width: 750px) {
    .about-article--nature {
        background-color: var(--primarly);
        padding: 20vw 0 20vw;
    }
}



.about-article .about-img-container {
    margin-top: 4vw;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: 1fr;
    justify-items: center;
    gap: 1vw;

}

/* Smaller devices */
@media (max-width: 750px) {
    .about-article .about-img-container {
        grid-template-columns: 1fr;
    }
}

.about-article .about-img-container .img-container {
    position: relative;
    overflow: hidden;
    width: 25vw;
    height: 27vw;
}

@media (max-width: 750px) {
    .about-article .about-img-container .img-container {
        position: relative;
        width: 50vw;
        height: 50vw;
    }
}

.img-container::after {
    content: '';
    position: absolute;
    display: block;
    background: var(--darkyellow);
    opacity: .9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.img-container:hover:after {

    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}


 .about-img-container .img-container >img {
    width: 100%;
    height: 100%;
    aspect-ratio: -1 / 1;
    object-fit: cover;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 350ms ease-in-out;
}
 .about-img-container .img-container >img:hover {
   scale: 1.1;
}
 .img-container >p {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 5%;
    opacity: 0;
    transition: all 350ms ease-in-out;
    z-index: 100;
 }
.about-img-container:has(.img-container:hover ) .img-container:hover > p {
    transform: translateY(-2vw);
    opacity: 1;
}

/* Skills */
.about-article-skills {
    background: var(--black);
}
.about-article-skills--intro > div {
    background: var(--black);
}
.about-article-skills {
    height: 30vw;
    background: var(--black);
}
.skills-container {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5vw;
    position: relative;
    justify-items: center;
}

.skill-container {
    align-self: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    width: 30vw;
    height: 25vw;
    scale: .4;
    z-index: 0;
    gap: 3vw;
    text-align: left;
    transition: all 2s ease;
    height: 0vw;
    border-radius: 5px;
    opacity: .8;
}

.skill-container h4 {
    position: absolute;
    color: var(--mildgrey);
}
.skill-container p {
    color: var(--primarly);
    margin-bottom: 1vw;
}


.skill-container > .skill-paragraph {
    position: absolute;
    text-align: left;
    opacity: 0;

}

.active-skill {
    background: var(--darkestgreen);
    transition: all 2s ease;
    display: flex;
    scale: 1;
    z-index: 100;
    height: 20vw;
    flex-direction: column;
    gap: 1vw;
    opacity: 1;
} 
.active-skill h4 {
    color: var(--white);
} 



.final-active > h4  {
  
    position: relative;

}
.final-active > .skill-paragraph  {
    /* display: block; */
    opacity: 1;
    position: relative;

}






/* Up arrow */

.up-container-about {
    background-color: var(--black);
    padding-bottom: 5vw;
}

.up-container>div {
    margin-left: auto;
    width: fit-content;
    padding-right: 3vw;
    text-align: center;

}

.up-container-about>div>p {
    color: var(--primarly);
}
.up-container-about .material-symbols-outlined {
    scale: 5;
    color: var(--primarly);
    cursor: pointer;
}


.up-container-cases .material-symbols-outlined {
    scale: 5;
    color: var(--black);
    cursor: pointer;
}

.arrow-animation {
    animation: float 4000ms ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0vw);

    }

    50% {
        transform: translateY(-.05vw);
        scale: 5.5;
    }
}

/* Smaller devices */
@media (max-width: 750px) {
    .up-container-cases {
        margin: 8vw 0;
    }

    .up-container>div {
        padding-right: 7vw;
    }

    .up-container .material-symbols-outlined {
        scale: 4;
    }

    @keyframes float {
        0%, 100% {
            transform: translateY(0vw);

        }

        50% {
            transform: translateY(-.05vw);
            scale: 4.5;
        }
    }

}

.up-container-cases>div>p {
    color: var(--black);
}

.footer-about {
    background: black;
    position: relative;
    z-index: 110;
}