* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primarly);
}


:root {
    --primarly: #f3f3f3;
    --mildgrey: #c3c3c3;
    --darkgrey: #656565;
    /* --backgorund: #cecece; */
    --blue: #76a8c5;
    --darkblue: #3c708f;
    --darkestblue: #315265;
    --light-suplementar: #d3e7f3;
    --lightyellow: #fff0b5;
    --yellow: #efc931;
    --darkyellow: #d7a500f1;
    --darkestyellow: #b67d02f1;
    --red: #fd424b;
    --btn-unactive: #85bee2;
    --secondary-suplementar: #5C4C4C;
    --third-suplementar: #CEA9A9;
    --white: white;
    --btn-green: #9be15d;
    --lightgreen: #a5d0bf;
    --blockgreen: #39b385;
    --darkgreen: #2c936b;
    --darkestgreen: #24634b;
    --gradient-primary: linear-gradient(#39b385, #9be15d);
    --black: #252525;

    --case-bg: #d3e7f3;
    --wave-bg: #76a8c5;
}

li {
    font-size: 4vw;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

h1, h2, h3, h4, h5, h6, h7, p {
    color: var(--black);
}

h1 {
    font-weight: 900;
    font-size: 11vw;

}

h2 {
    font-weight: 300;
    font-size: 4vw;
}

h2>span {
    font-weight: 500;
    font-size: 4vw;
}

h3 {
    font-weight: 300;
    font-size: 4vw;
}

h4 {
    font-size: 2vw;
    font-weight: 900;
}
h5 {
    font-size: 1.5vw;
    font-weight: 300;
}
p {
    font-size: 1vw;
    line-height: 1.5vw;
}

i {
    font-size: 1.5vw;
    color: var(--secondary-suplementar)
}

@media (max-width: 750px) {
    li {
        font-size: 3vw;
    }
    
    a {
        font-size: 4vw;
    }

    
    h1 {
        font-size: 15vw;
    
    }
    
    h2 {
        font-size: 10vw;
    }
    
    h2>span {
        font-size: 10vw;
    }
    
    h3 {
        font-weight: 300;
        font-size: 6vw;
    }
    
    h4 {
        font-size: 3vw;
    }
    h5 {
        font-size: 4vw;
    }
    p {
        font-size: 3vw;
        line-height: 4vw;
    }
    
    i {
        font-size: 3vw;
    }
}


/* Hide options */
.hide {
    display: none !important;
}

.hidden{
    transition: opacity 50ms linear;
    opacity: 0;
}



.hidden-article {
    opacity: 0;
    transform: translateY(8vw);
}

.center {
    width: max-content;
    margin: auto;
}
.btn {
    border: 2px solid var(--primarly);
    color: var(--primarly);
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
}


.stop-scroll {
    overflow: hidden;
    height: 100%;
}

.max-view {
    width: 100vw;
    height: 100vh;
}

.navbar-container {
}

.sticky {
  width: 100vw;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 5px;
  background-color: var(--white);
  z-index: 999;
  animation: transition 500ms ease-in-out forwards;
}

@keyframes transition {
    from {
        transform: translateY(-2vw);
    } to {
        transform: translateY(0vw);

    }
}


/* Footer */
footer {
    background-color: var(--secondary-suplementar);
}


/* Transition animation --> Back */

.cases-header {
    position: relative;
    /* z-index: 100; */
}

.animateSVGsection {

	width: 100%;
	background-color: var(--primarly);
    position: absolute;   
}

#fillerSVG{
    position: relative;
	width: 100%;
	height: 200%;
}

#filler{
	fill: var(--black);
	transition: d 2s;
}

.activeNav {
    pointer-events: none;
    color: var(--white);
}

.activeNav[data-nav="true"]::before{
        display: block;
        content: '';
        background: var(--blockgreen);
        width: 100%;
        height: 120%;
        position: absolute;
        z-index: -1;
        scale: 1.5;
        transform: skew(25deg);
}

.mobile-navbar,
.mobile-nav {
    display: none;
}



@media (max-width: 750px) {
    .mobile-navbar {
        display: block;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 5vw;
        background-color: transparent;
    }

   

    .mobile-navbar p {
        font-size: 5vw;
    }


    .hamburger-menu {
        font-size: 10vw;
    }
    .mobile-navbar-index > .hamburger-menu {
        color: var(--primarly);
        margin-left: auto;  
    }

    .mobile-navbar-index > p {
        color: var(--primarly);
        align-self: center;
    }

    .navbar {
        display: none;
    }
    .mobile-nav {
       display: block;
       transform: translateX(-150vw);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       padding-top: 15vw;
       width: 100%;
       height: 100%;
       position: fixed;
       z-index: 150;
    }
    .mobile-nav  a {
       color: var(--mildgrey);
       font-size: 10vw;

       padding-bottom: 10vw;
    }

    .mobile-nav > .contact {    
        align-items: center;
    }

    .mobile-nav .email-icon {
       scale: 2.5;
       margin-left: 4vw;
    }
    .activeNav  {
        border: none;
        color: var(--white) !important;
    }

    .opened{
       transition: all 250ms ease-in;
       transform: translateX(0vw);
    }

    .hamburger-menu {
        color: var(--black);
    }

    .back-arrow {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


}

  /* Footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--black);
    padding: 3vw 0;
}

footer h2  {
    color: var(--secondary-suplementar);
    margin-bottom: 1vw;
    font-size: 2vw;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
footer > div > a {
    border-bottom: 1px solid transparent;
    width: max-content;
    margin-bottom: 1vw;
    font-weight: 100;
}
footer > div > a:hover {
    border-bottom: 1px solid var(--primarly);
    cursor: pointer;

}
footer > address {
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.contact-btn {
    background-color: var(--blue);
    color: var(--primarly);
    border-radius: 5px;
    padding: .5vw 2vw;
    text-align: center;
}
.contact-btn:hover {
    background-color: var(--darkblue);
    cursor: pointer;
}

/* smaller device */

@media (max-width: 750px) {
    footer {
        grid-template-columns: 1fr;
        padding: 5vw 0;
    }
    
    footer h2  {
        color: var(--secondary-suplementar);
        margin-bottom: 2vw;
        font-size: 4vw;
    }
    
    footer > div, 
    address {
        width: 50%;
    }
    footer > address {
       margin-top: 8vw;
    }



}